.header {
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: space-between;

    &__link {
        margin: 0;
        cursor: pointer;

        &-cart {
            display: flex;
            align-items: center;
            column-gap: 10px;

            &-img {
                height: 30px;
                width: 30px;
            }

        }

        &-count {
            width: 25px;
        }
    }
}