.cart-page {
    display: flex;
}

.cart {
    &__products {
        &-list-container {
            flex: auto;
        }

        &-item {
            display: flex;
            align-items: flex-start;
            height: 100px;
            column-gap: 10px;
            margin: 15px;
        }
    }

    &__product {
        &-image {
            &-container {
                width: 200px;
                height: 100px;
                text-align: center;
            }

            height: 100%;
        }

        &-name {
            width: 250px;
        }

        &-price {
            width: 45px;
        }

        &-count-container {
            display: flex;
            column-gap: 5px;
        }
    }
}

.order {
    display: flex;
    flex-direction: column;
    row-gap: 20px;


    &__title,
    &__total-title {
        font-size: 1.5em;
        font-weight: bold;
    }
}